{% extends 'base.html'%}

{% block styles %}

<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">

{% endblock %}

{% block content %}
<div class="container">
  <button type="button" class="btn-btn-primary"><a href="{{url_for('main.create_post')}}">Create new post here</a></button>
</div>
<br>

<div class="container-fluid">
  <div class="row">
    {% for post in posts %}

      {% if posts%}
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><a href="{{url_for('main.view_post', post_id=post.id)}}">{{post.title}}</a></div>
          <div class="panel-body">
            <p>{{post.body}}</p>
            <p>{{post.author.username.capitalize()}}</p>
            <p>{{post.comments.count()}} comments</p>
          </div>

          <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </div>
          <p><button><a href="{{url_for('main.create_comment', post_id=post.id)}}">Comment</a></button></p>
        </div>
      </div>
      {% else %}
        <p>There are no posts. Let's create some. <a href="{{url_for('main.create_post')}}">Create new post here</a></p>
      {% endif %}

    {% endfor %}


  </div>

</div>
{% endblock %}
